.Counter {
  display: flex;
  width: 100%;
  margin: 100px auto 0;
  padding: 30px;
  max-width: 260px;
  margin-top: 40px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

  &__button {
    display: block;
    position: relative;
    padding: 10px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 2px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 32px;
    background: linear-gradient(0deg, #eee, #fafafa);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

    &:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }

    &:active {
      top: 1px;
    }
  }

  &__count {
    display: flex;
    width: 100%;
    margin: 0 10px;
    background: #222;
    border-radius: 2px;
    color: white;
    font-family: monospace;
    text-align: center;
  }

  &__number {
    margin: auto;
    font-size: 32px;
  }
}
